{% extends "base.html" %}
{% block content %}

<script src = "{{ url_for('static', filename = 'js/stuff.js') }}"></script>

	<div id = "imageContainer">
		<img id = "myImage" src="{{url_for('static', filename = 'pictures/' + pic) }}">
	</div>


<!--<ul class="nav navbar-dark flex-column float-sm-start cw-5">
  
  <li class="nav-item">
    <a onclick="ZoomIn()" href="#"><img class ="zooms" width="30" height="30" src="{{ url_for('static',filename='images/zoomIn.svg') }}"></a>
  </li>
  <li class="nav-item">
    <a onclick="ZoomOut()" href="#"><img class ="zooms" width="30" height="30" src="{{ url_for('static',filename='images/zoomOut.svg') }}"></a>
  </li>
  <li class="nav-item">
    <a href="{{url_for('static', filename = 'pictures/' + pic) }}" download><img class ="zooms" width="30" height="30" src="{{ url_for('static',filename='images/download.svg') }}"></a>
  </li>
  
</ul>-->

<div class="accordion cw-10" id="accordionExample">
	<div class="accordion-item d-flex justify-content-center">
		<a href="{{url_for('static', filename = 'pictures/' + pic) }}" download><img class ="zooms" width="30" height="30" src="{{ url_for('static',filename='images/download.svg') }}"></a>

		<a onclick="ZoomOut()" href="#"><img class ="zooms" width="30" height="30" src="{{ url_for('static',filename='images/zoomOut.svg') }}"></a>

		<a onclick="ZoomIn()" href="#"><img class ="zooms" width="30" height="30" src="{{ url_for('static',filename='images/zoomIn.svg') }}"></a>

		<a onclick="edit('refresh')" href="#"><img class ="zooms" width="30" height="30" src="{{ url_for('static',filename='images/refresh.png') }}"></a>

	</div>

	<div class="accordion-item">
	    <h2 class="accordion-header" id="headingTwo">
	      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
	        Adjust
	      </button>
	    </h2>
	    <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
	    
	      <div class="accordion-body">
	       <a onclick="edit('edge enhance')" href="#" class="leOptions-a"><div class="leOptions">Edge enhance</div></a>
	       <a onclick="edit('sharpen')" href="#" class="leOptions-a"><div class="leOptions">Sharpen</div></a>
	       <div class="leOptions1">
	       		<p class="leFloat">Blur</p>
		       	<a onclick="edit('blur minus')" href="#"><img class ="zooms" width="15" height="15" src="{{ url_for('static',filename='images/minus.svg') }}"></a>
		       <a onclick="edit('blur plus')" href="#"><img class ="zooms" width="15" height="15" src="{{ url_for('static',filename='images/plus.svg') }}"></a>
	   		</div>
	   		<div class="leOptions1">
	       		<p class="leFloat">Brighness</p>
		       	<a onclick="edit('brighness minus')" href="#"><img class ="zooms" width="15" height="15" src="{{ url_for('static',filename='images/minus.svg') }}"></a>
		       <a onclick="edit('brightness plus')" href="#"><img class ="zooms" width="15" height="15" src="{{ url_for('static',filename='images/plus.svg') }}"></a>
	   		</div>
	       <a onclick="edit(1)" href="#" class="leOptions-a"><div class="leOptions">Sharpen</div></a>
	       <a onclick="edit(1)" href="#" class="leOptions-a"><div class="leOptions">Sharpen</div></a>
	      </div>
	    </div>
	 </div>

  <div class="accordion-item">
    <h2 class="accordion-header t-color1" id="headingOne">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
        Effects
      </button>
    </h2>
    <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
      <div class="accordion-body">
 
        <a onclick="edit(1)" href="#" class="leOptions-a"><div class="leOptions">Filter 1</div></a>
        <a onclick="edit(2)" href="#"  class="leOptions-a"><div class="leOptions">Filter 2</div></a>
        <a onclick="edit(3)" href="#"  class="leOptions-a"><div class="leOptions">Filter 3</div></a>
        <!--<div class="leOptions"><a onclick="filter(2)" href="#">Filter 2</a></div>
        <div class="leOptions"><a onclick="filter(3)" href="#">Filter 3</a></div>-->
      </div>
    </div>
  </div>
  
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingThree">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
        Text
      </button>
    </h2>
    <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
      <div class="accordion-body">
       
      </div>
    </div>
  </div>
</div>


	<canvas id= "myCanvas" width="1000%" height="800%" onmouseover= "scrollZoom()">
	</canvas>
	

<!--<ul class="nav navbar-dark flex-column float-sm-end">
  <li class="nav-item bg-dark">
    <h2 style="color:white;">Mods</h2>
  </li>
  
  <li class="nav-item">
    <a onclick="ZoomIn()" href="#"><img class ="zooms" width="40" height="40" src="{{ url_for('static',filename='images/zoomIn.svg') }}"></a>
  </li>
  <li class="nav-item">
    <a onclick="ZoomOut()" href="#"><img class ="zooms" width="40" height="40" src="{{ url_for('static',filename='images/zoomOut.svg') }}"></a>
  </li>
  <li class="nav-item">
    <a href="{{url_for('static', filename = 'pictures/' + pic) }}" download><img class ="zooms" width="40" height="40" src="{{ url_for('static',filename='images/download.svg') }}"></a>
  </li>
  
</ul>-->

<script type="text/javascript">
	filename = "{{ pic }}"
	drawImage(filename);




</script>

{% endblock %}