.notJumbotron{
	padding: 0rem 0rem 1rem 1rem;
	margin-bottom: 2rem;
 	background-color: #3b3b3d;
  	border-radius: 0.3rem; }

}

.canvas{
	width: 100px;
	height: 100px;
	background: #000000;
	border: 5px dashed #f7a239;
}
#myCanvas{
	
	background-color: white;
}

.zooms:hover{
	/*background-color: #636366;*/
	filter: invert(100%);
	transition: .5s ease;
}

.zooms{
	border-radius: 6px;
}

.modifiers{
	float:right;
}



