.notJumbotron{
	padding: 0rem 0rem 2px 5px;
	margin-bottom: 2rem;
 	background-color: #3b3b3d;
  	border-radius: 0.3rem; }

}

.canvas{
	border: 5px dashed #f7a239;
}

#myCanvas{
	/*width: 20%;
	height: 10%;*/
	background-color: #FFFFFF;
}

.zooms:hover{
	/*background-color: #636366;*/
	filter: invert(100%);
	transition: .5s ease;
}

.zooms{
	border-radius: 6px;
}

.modifiers{
	float:right;
}

.cw-10 {
  width: 15% !important;
  float:left;
}

.cw-5 {
  width: 2% !important;
  
}

.t-color1{
	color: #E1E3E6;
}

.leOptions{
	background-color: #4d4e4f;
	padding-top: 3px;
	padding-bottom: 3px;
	padding-left: 15px; 
}

.leOptions-a{
	text-decoration: none;
	color:#E1E3E6;
	
	display:block;
}

.leOptions:hover{
	background-color: #6f7173;
	transition: .3s ease;
}

.leOptions1{
	background-color: #4d4e4f;
	padding-top: 3px;
	padding-bottom: 3px;
	
}

.leOptions1 a,p{
	text-decoration: none;
	color:#E1E3E6;
	padding-left: 15px; 
	
}


.leOptions1:hover{
	background-color: #6f7173;
	transition: .3s ease;
}


